<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Scrumble</title>
    <link rel="shortcut icon" href="/static/favicon.ico">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    
    <!-- Material Design Colors -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/materialdesigncolors.css') }}">
    
        <!-- Extra CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    
                <!-- Extra CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/navstyles.css') }}">
    
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid palette-Light-Blue-200 bg">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img alt="Brand" src="{{ url_for('static',filename='styles/SCRUMBLE.png') }}"></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Class <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Section 1</a></li>
              <li><a href="#">Section 2</a></li>
              <li><a href="#">Section 3</a></li>
            </ul>
          </li>
          <li><a href="{{ url_for('managetasks') }}">Manage Tasks</a></li>
          <li class="active"><a href="{{ url_for('managegroups') }}">Manage Students</a></li>
          <li><a href="">Welcome, {{ teacher_name }}</a></li>
        </ul>
      </div><!-- /.container-fluid -->
    
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ url_for('managestudents') }}">Students</a></li>
        <li role="presentation" class="active"><a href="#">Groups</a></li>
      </ul>
    
    </nav>
  
    <form role="form">
      <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
      <div class="form-group">
        <label for="sel2">Group 1</label>
        <select multiple class="form-control" id="sel2">
          {% for student in students %}
            <option>{{student}}</option>
          {% endfor %}
        </select>
        <div class="group-container"></div>
      </div>
      <button id="addGroupButton" type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-plus-sign"></span> Add New Group
      </button>
      <button id="saveChangesButton" type="button" class="btn btn-primary">Save Changes</button>
      </div>
      </div>
    </form>
  
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
    <script>
      var numGroups = 1;
      var wrapper = $(".group-container");
      wrapper.html("");
      
      $('#addGroupButton').on('click', function (e) {
        wrapper.append(createGroup);
      });
      
      
      function createGroup() {
        numGroups += 1;
        return "<div class='form-group'><label>Group " + numGroups + "</label><select multiple class='form-control'>{% for student in students %}<option>{{student}}</option>{% endfor %}</select></div>";
      }
    </script>

  </body>
</html>